<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Busiest Board</title>
  </head>
  <body>
    <div id="content"></div>
    <script src="/assets/js/app.js"></script>
  </body>
</html>
