@import 'variables/index'
@import 'functions/index'
@import 'mixins/index'
@import 'resets/index'

body
  margin: 0

main
  background: $color--mulberry-road
  box-shadow: 0 0 250px $color--tamarind
  font-family: Nexa
  height: 1920px
  letter-spacing: 0.1em
  margin: 0 auto
  position: relative
  width: 1080px
